<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="org.apache.jmeter.gui.logging">
  <Appenders>
    <RollingFile name="jmeter-log" fileName="${sys:jmeter.logfile:-jmeter.log}"  filePattern="${sys:jmeter.logfile:-jmeter.log}%d{yyyyMMdd}">
<!--        <PatternLayout><pattern>%d %p %c{1.}: %m%n</pattern></PatternLayout>-->
        <PatternLayout><pattern>[%d{yyyy-MM-dd HH:mm:ss} %5p] %t] (%c:%L) - %m%n</pattern></PatternLayout>
      <Policies><SizeBasedTriggeringPolicy size="100 MB" /></Policies>
    </RollingFile>

    <File name="error-log" fileName="${sys:jmeter.error.logfile:-error.log}" append="false">
        <PatternLayout>
            <pattern>%d %p %c{1.}: %m%n</pattern>
        </PatternLayout>
    </File>

    <RollingFile name="assert-error-log" fileName="${sys:assert.error.logfile:-error.log}"  filePattern="${sys:assert.error.logfile:-error.log}%d{yyyyMMdd}">
      <!--        <PatternLayout><pattern>%d %p %c{1.}: %m%n</pattern></PatternLayout>-->
      <PatternLayout><pattern>[%d{yyyy-MM-dd HH:mm:ss} %5p] %t] (%c:%L) - %m%n</pattern></PatternLayout>
      <Policies><SizeBasedTriggeringPolicy size="100 MB" /></Policies>
    </RollingFile>


    <GuiLogEvent name="gui-log-event">
      <PatternLayout>
        <pattern>%d %p %c{1.}: %m%n</pattern>
      </PatternLayout>
    </GuiLogEvent>

  </Appenders>

  <Loggers>

    <Root level="info">
      <AppenderRef ref="gui-log-event" />
    </Root>
    <Logger name="org.apache" level="info">
      <AppenderRef ref="jmeter-log" />
    </Logger>

    <Logger name="org.apache.jmeter.junit" level="debug" />
    <Logger name="org.apache.jmeter.visualizers.backend" level="error" >
      <AppenderRef ref="error-log"/>
    </Logger>
    <Logger name="org.metric.SampleMetric" level="error" >
      <AppenderRef ref="assert-error-log"/>
    </Logger>
    <Logger name="org.apache.jorphan" level="info" />

  </Loggers>

</Configuration>
